/* ====================
    VARIABLES 
======================================== */

$darkerBlue: #0A121F;
$darkBlue: #232B38;
$blue: #233E6B;
$lightBlue: #3B6BB8;
$black: #333333;
$lightGrey: #EBEBEB;
$grey: #AFAFAF;

$ProximaNovaT-Thin: 'ProximaNovaT-Thin';
$ProximaNovaT-Light: 'ProximaNova-Light';
$ProximaNovaT-Regular: 'ProximaNova-Regular';
$ProximaNovaT-Semibold: 'ProximaNova-Semibold';

$AspectRegular: 'Aspect';
$AspectBold: 'AspectBold';