@mixin font-size($sizeValue: 14 ){
  font-size: $sizeValue + px; //fallback for old browsers
  font-size: ($sizeValue / 14) + rem;
}

@mixin line-height($heightValue: 14 ){
    line-height: $heightValue + px; //fallback for old browsers
    line-height: ($heightValue / 14) + rem;
}